/* Risk assessments */
#reviewableassessments #assessmentform h3 {margin-top: 3em;}
#reviewableassessments #assessmentform table.regulated {min-width: 600px;}
#reviewableassessments #assessmentform table.regulated td:first-child {width: 300px;}
#reviewableassessments #assessmentform #form_organicMaterial_No, #reviewableassessments #assessmentform #form_organicMaterial_No label {margin-bottom: 10px;}
#reviewableassessments #assessmentform #form_fcoAdviseAgainst_No, #reviewableassessments #assessmentform #form_fcoAdviseAgainst_No label {margin-bottom: 10px;}
#reviewableassessments #assessmentform .answer {color: #603; font-weight: bold;}
#reviewableassessments .changed {background-color: #ccccff; padding: 2px;}
#reviewableassessments #assessmentform .changed {padding: 10px; display: block;}
#reviewableassessments #assessmentform .charactersremaininginfo {font-size: 0.83em;}
/* #reviewableassessments #watermark {position: fixed; top: 1.5cm; right: 1.5cm; border: 3px solid #603; padding: 2px 10px; display: none;} */
#reviewableassessments p.watermark {display: none; float: right; position: relative; top: -40px; width: 300px; font-size: 0.8em;}
#reviewableassessments .printingwarning {display: none;}
#reviewableassessments table.listing tr:first-child {border-top: 0; background-color: #fcfcfc; line-height: 1.1em; font-size: 0.9em;}
#reviewableassessments table.listing tr:first-child th:first-child {background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc));}
#reviewableassessments table.listing td {height: 2.4em; min-width: 3em; font-size: 0.83em;}
#reviewableassessments table.listing td.status {min-width: 6em;}
#reviewableassessments table.listing td.date {min-width: 13em;}
#reviewableassessments table.listing td.changes {width: 6em; line-height: 1.2em;}
#reviewableassessments table.listing td, #reviewableassessments table.listing th {padding-right: 15px;}
#reviewableassessments table.listing th.title {padding-left: 34px;}
#reviewableassessments table.listing td.title a {display: block; width: 300px; padding: 4px 6px 4px 10px; background-color: #f7f7f7; border: 1px solid #eee; font-weight: bold; border-radius: 3px; font-size: 1.2em;}
#reviewableassessments table.listing td a {opacity: 0.7;}
#reviewableassessments table.listing td.title a {opacity: 1;}
#reviewableassessments table.listing .date {color: gray;}
#reviewableassessments form .outcome.radiobuttons input {margin-right: 10px;}
#reviewableassessments form .outcome.radiobuttons br {display: block; margin: 10px; content: ' ';}	/* See: https://stackoverflow.com/a/1409753 */
#reviewableassessments form .outcome.radiobuttons input[type="radio"]:checked + label {background-color: #e5e5fd;}
#reviewableassessments .newassessment form table tr td:first-child {width: 200px;}
#reviewableassessments .newassessment form table td {border-left: 0 !important; border-right: 0 !important; padding: 0 10px 20px 0;}
#reviewableassessments .newassessment form table tr td:first-child {padding-top: 18px; padding-right: 40px;}
#reviewableassessments .newassessment form table tr #form_description {display: block; margin-top: 20px;}

/* Choice form */
/* Hide questions, to be revealed: */
#reviewableassessments .newassessment form table tr[class*=choice] {display: none;}
/* Choice result of form (also an element in its own right) at end: */
#reviewableassessments .newassessment form table tr.form {display: none;}
/* Hide 'Please select' quasi-option: */
#reviewableassessments .newassessment form table tr.radiobuttons[class*=choice] input:first-child, #reviewableassessments .newassessment form table tr.radiobuttons[class*=choice] label:first-of-type {display: none;}
/* Choice widget needs spacing as first item is a real entry rather than 'Please select' */
#reviewableassessments .newassessment form table tr.radiobuttons.form td {padding-top: 10px;}
/* Submit button disabling */
#reviewableassessments .newassessment form input[type='submit']:disabled {opacity: 0.4; cursor: not-allowed;}

@media print {
	/* @page {size: landscape;} */
	/* #reviewableassessments #watermark {display: block;} */
	#reviewableassessments p.watermark {display: block;}
	#reviewableassessments .printingwarning {display: block;}
	#reviewableassessments h1, #reviewableassessments ul.tabs, #reviewableassessments .flashmessage {display: none;}
}
